{% extends 'base.html' %}

{% load static %}

{% block extra_title %}Home{% endblock %}

{% block content %}
  <div class="index page-container">
    <!-- Hero section -->
    <section class="hero-section container-fluid appear-first">
      <div class="row text-center">
        <div class="col-12 col-lg-6 order-lg-2">
          <div class="row heading-container">
            <div class="col-12 pl-0 pr-0">
              <div class="heading-content-container center-content">
                <h1>Slice of Pie</h1>
                <div id="tagline-container">
                  <p class="mb-0" id="home-tagline">Sustainable tables to fill every corner</p>
                </div>
              </div>
            </div>
            <div class="col-6 text-right">
              <a href="{% url 'product_builder' %}" class="btn checkout-btn bskt-btn home-cta" role="button">Build Table</a>
            </div>
            <div class="col-6 text-left">
              <a id="sign-up-btn" href="{% url 'account_signup' %}" class="btn checkout-btn bskt-btn home-cta" role="button">Sign Up</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block order-1 large-heading-container">
          <div class="row">
            <div class="col-12">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Featured tables section -->
    <section class="feature-section container text-center appear-second mb-2 pt-2 pb-2">
      <h2>Featured Tables</h2>
      <div class="row">
        <div class="col-2 d-none d-md-block d-lg-1"></div>
        <div class="col-12 col-md-4 d-lg-5">
          <h3 class="mb-3">Most popular</h3>
          <div class="product-card-container">
            <div class="product-card">
              <div class="product-card-image-container">
                <img class="product-image" src="{{ MEDIA_URL }}{{ most_popular.image_1 }}" alt="Our most popular product">
              </div>
              <div class="product-card-text-container">
                <h3 class="product-card-text product-card-title">{{ most_popular.name }}</h3>
              </div>
              <div class="product-card-text-container">
                <h3 class="product-card-text product-card-price">£{{ most_popular.price }}</h3>
              </div>
              <div class="product-card-cta-container">
                <a href="{% url 'product_detail' most_popular.id %}">
                  <button class="btn product-card-view">View</button>
                </a>
                <form method="POST" action="{% url 'add_to_wishlist' most_popular.id %}" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn product-card-fav">
                    <i class="far fa-heart" aria-hidden="true"></i>
                    <span class="sr-only">Add to wishlist</span>
                  </button>
                  <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-lg-5">
          <h3 class="mb-3 mt-2 mt-md-0">Recommended</h3>
          <div class="product-card-container">
            <div class="product-card">
              <div class="product-card-image-container">
                <img class="product-image" src="{{ MEDIA_URL }}{{ most_expensive.image_1 }}" alt="Our recommended product">
              </div>
              <div class="product-card-text-container">
                <h3 class="product-card-text product-card-title">{{ most_expensive.name }}</h3>
              </div>
              <div class="product-card-text-container">
                <h3 class="product-card-text product-card-price">£{{ most_expensive.price }}</h3>
              </div>
              <div class="product-card-cta-container">
                <a href="{% url 'product_detail' most_expensive.id %}">
                  <button class="btn product-card-view">View</button>
                </a>
                <form method="POST" action="{% url 'add_to_wishlist' most_expensive.id %}" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn product-card-fav">
                    <i class="far fa-heart" aria-hidden="true"></i>
                    <span class="sr-only">Add to wishlist</span>
                  </button>
                  <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 d-none d-md-block d-lg-1"></div>
        <div class="col-12">
          <h3>Not sure what to get?</h3>
        </div>
        <div class="col-12">
          <a id="featured-cta" href="{% url 'products' %}" class="btn checkout-btn bskt-btn home-cta" role="button">All Tables</a>
        </div>
      </div>
    </section>
    <!-- About seciton -->
    <section class="about-section appear-third">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-7">
            <h2>Sustainable tables that fit anywhere</h2>
            <p>Slice of Pie tables are here to help you make the most of the living space
              you have at your disposal. These sustainably sourced and custom produced 
              surfaces are able by design to fit into sections of living and bedrooms that
              were previously going completely to waste. 
            </p>
            <p>Depending on your needs, the tables can be reshaped, resized, or even
              combined together as per your own preferences. So why not try to build your
              perfect Slice of Pie now!
            </p>
            <a href="{% url 'product_builder' %}" class="btn checkout-btn bskt-btn home-cta" role="button">Build Table</a>
          </div>
          <div class="col-lg-5 d-none d-lg-block about-image">
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}