{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="index page-container">
    <section class="hero-section container-fluid">
        <div class="row text-center">
            <div class="col-12 col-lg-6 order-lg-2">
                <div class="row heading-container">
                    <div class="col-12 center-content">
                        <h1>Slice of Pie</h1>
                    </div>
                    <div class="col-6 text-right">
                        <a href="#" class="btn checkout-btn bskt-btn home-cta" role="button">Build Table</a>
                    </div>
                    <div class="col-6 text-left">
                        <a id="sign-up-btn" href="#" class="btn checkout-btn bskt-btn home-cta" role="button">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block order-1 large-heading-container">
                <div class="row">
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feature-section container text-center">
        <h2>Featured Tables</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                Feature 1
            </div>
            <div class="col-12 col-lg-6">
                Feature 2
            </div>
        </div>
    </section>
</div>

{% endblock %}
