<!-- Sort selector -->
<script>
   $('#sort-select').change(function () {
	var selector = $(this);
	var currentUrl = new URL(window.location);

	var selectedVal = selector.val();
	if (selectedVal != "reset") {
		var sort = selectedVal.split("_")[0];
		var direction = selectedVal.split("_")[1];
		currentUrl.searchParams.delete('angle');
		currentUrl.searchParams.delete('material');
		currentUrl.searchParams.delete('levels');
		currentUrl.searchParams.set("sort", sort);
		currentUrl.searchParams.set("direction", direction);

		window.location.replace(currentUrl);
	} else {
		currentUrl.searchParams.delete("sort");
		currentUrl.searchParams.delete("direction");

		window.location.replace(currentUrl);
	}
});
 </script>

<!-- Open and close filter section -->
<script>
   const filterBtn = document.querySelector('#filter');
   const filterOptions = document.querySelector('.filter-options');
   filterBtn.addEventListener('click', () => {
   	filterOptions.classList.add('.filter-opened');
   });
   
   const closeFilter = document.querySelector('.close-filter');
   closeFilter.addEventListener('click', () => {
   	filterOptions.classList.remove('.filter-opened');
   });
 </script>  

<!-- Handle filter form -->
<script>
    function createUrl() {
    	let inputs = $('.filter-category');
    	let currentUrl = new URL(window.location)['href'];
    	currentUrl = currentUrl.split('products/')[0];
    	let urlString = currentUrl + 'products/?';
    	for (let input of inputs) {
    		if (input['checked']) {
    			urlString += (input.classList[1] + '=' + input['value'] + '&');
    		}
    	}
    	urlString = urlString.slice(0, -1);
    	window.location = urlString;
    }
    
    let button = document.querySelector('#apply-filter');
    button.addEventListener('click', () => {
    	createUrl();
    });
</script>

<!-- Move filter form into desktop container -->
<script>
   let filterForm = document.querySelector('#filter-form');
   let sortButton = document.querySelector('#sort-select');
   let filterStart = document.querySelector('#filter-start');
   let sortStart = document.querySelector('#sort-start');
   let desktopContainer = document.querySelector('#filterDestination');
   let sortDestination = document.querySelector('#sort-destination');
   
   if (window.innerWidth > 992) {
   	filterForm.classList.remove('center-content');
   	desktopContainer.appendChild(filterForm);
   	sortDestination.appendChild(sortButton);
   }
   window.addEventListener('resize', () => {
   	if (window.innerWidth > 992) {
   		filterForm.classList.remove('center-content');
   		desktopContainer.appendChild(filterForm);
   		sortDestination.appendChild(sortButton);
   	} else {
   		filterStart.appendChild(filterForm);
   		sortStart.appendChild(sortButton);
   		filterForm.classList.add('center-content');
   	}
   });
</script>

<!-- Product animations -->
<script>
    function productCardRight(card) {
        let cardHover = card.querySelector('.product-card-image-container');
        cardHover.style.transform = "translate(-100%,0)";
    }

    function productCardLeft(card) {
        let cardHover = card.querySelector('.product-card-image-container');
        cardHover.style.transform = "translate(0,0)";
    }
</script>

<!-- Check the radio button if a filter has been applied -->
<script>
    let currentUrl = new URL(window.location);
    let radioInputs = document.getElementsByClassName('filter-category');
    let currentFilter = "";

    if (currentUrl.search === "?angle=60_degree") {
        currentFilter = "60_degree";
    } else if (currentUrl.search === "?angle=120_degree") {
        currentFilter = "120_degree";
    } else if (currentUrl.search === "?angle=180_degree") {
        currentFilter = "180_degree";
    } else if (currentUrl.search === "?levels=1_level") {
        currentFilter = "1_level";
    } else if (currentUrl.search === "?levels=2_levels") {
        currentFilter = "2_levels";
    } else if (currentUrl.search === "?levels=3_levels") {
        currentFilter = "3_levels";
    } else if (currentUrl.search === "?material=acrylic") {
        currentFilter = "acrylic";
    } else if (currentUrl.search === "?material=plywood") {
        currentFilter = "plywood";
    } else if (currentUrl.search === "?material=oak") {
        currentFilter = "oak";
    } else if (currentUrl.search === "?material=pine") {
        currentFilter = "pine";
    }
    
    for (let radioInput of radioInputs) {
        if (radioInput.id === currentFilter) {
            radioInput.setAttribute('checked', 'true');
        }
    }

</script>

<!-- Back to top button functionality -->
<script>
    let backToTop = document.querySelector('#back-to-top');
    backToTop.addEventListener('click', () => {
        // Smooth scroll to top found on https://stackoverflow.com/questions/15935318/smooth-scroll-to-top
        window.scrollTo({top: 0, behavior: 'smooth'});
    });
</script>