<div class="filter-options flexbox-container" id="filter-start">
    <form action="" class="container text-center center-content m-0" id="filter-form">
        <div class="row filter-row">
            <div class="col-12">
                <h2>Filter</h2>
            </div>
        </div>
        <div class="row filter-row">
            <div class="col-12">
                <h3>Size</h3>
            </div>
            <div class="col-6">
                <label for="60_degree">60&deg;</label>
            </div>
            <div class="col-6">
                <input class="filter-category angle" type="radio" name="filter-choice" id="60_degree" value="60_degree">
            </div>
            <div class="col-6">
                <label for="120_degree">120&deg;</label>
            </div>
            <div class="col-6">
                <input class="filter-category angle" type="radio" name="filter-choice" id="120_degree" value="120_degree">
            </div>
            <div class="col-6">
                <label for="180_degree">180&deg;</label>
            </div>
            <div class="col-6">
                <input class="filter-category angle" type="radio" name="filter-choice" id="180_degree" value="180_degree">
            </div>
        </div>
        <div class="row filter-row">
            <div class="col-12">
                <h3>Levels</h3>
            </div>
            <div class="col-6">
                <label for="1_level">1</label>
            </div>
            <div class="col-6">
                <input class="filter-category levels" type="radio" name="filter-choice" id="1_level" value="1_level">
            </div>
            <div class="col-6">
                <label for="2_levels">2</label>
            </div>
            <div class="col-6">
                <input class="filter-category levels" type="radio" name="filter-choice" id="2_levels" value="2_levels">
            </div>
            <div class="col-6">
                <label for="3_levels">3</label>
            </div>
            <div class="col-6">
                <input class="filter-category levels" type="radio" name="filter-choice" id="3_levels" value="3_levels">  
            </div>
        </div>
        <div class="row filter-row">
            <div class="col-12">
                <h3>Material</h3>
            </div>
            <div class="col-6">
                <label for="acrylic">Acrylic</label>
            </div>
            <div class="col-6">
                <input class="filter-category material" type="radio" name="filter-choice" id="acrylic" value="acrylic">
            </div>
            <div class="col-6">
                <label for="plywood">Plywood</label>
            </div>
            <div class="col-6">
                <input class="filter-category material" type="radio" name="filter-choice" id="plywood" value="plywood">
            </div>
            <div class="col-6">
                <label for="oak">Oak</label>
            </div>
            <div class="col-6">
                <input class="filter-category material" type="radio" name="filter-choice" id="oak" value="oak">
            </div>
            <div class="col-6">
                <label for="pine">Pine</label>
            </div>
            <div class="col-6">
                <input class="filter-category material" type="radio" name="filter-choice" id="pine" value="pine">
            </div>
        </div>
        <div class="row filter-btn-row">
            <div class="col-6 d-lg-none">
                <button type="reset" class="close-filter close-btn">Cancel</button>
            </div>
            <div class="col-6 col-lg-12">
                <div role="button" id="apply-filter">Apply</div>
            </div>
        </div>
    </form>
</div>