<script>
    const userChoices = {
        chosenSize: "",
        chosenLevels: "",
        chosenMaterial: ""
    };

   $(document).ready(function () {

        $('#back-to-size').click(function() {
            $('#level-container').addClass('d-none');
            $('#size-container').removeClass('d-none');
        })
        $('#back-to-level').click(function() {
            $('#material-container').addClass('d-none');
            $('#level-container').removeClass('d-none');
        })
       
        $('.size-choice').click(function() {
            if(this.getAttribute('id') == '60-degrees') {
                userChoices.chosenSize = "60 Degree";
            } else if(this.getAttribute('id') == '120-degrees') {
                userChoices.chosenSize = "120 Degree";
            } else if(this.getAttribute('id') == '180-degrees') {
                userChoices.chosenSize = "180 Degree";
            }
            console.log(userChoices.chosenSize);
            $('#size-container').addClass('d-none');
            $('#level-container').removeClass('d-none');
        })

        $('.levels-choice').click(function() {
            if(this.getAttribute('id') == '1-level') {
                userChoices.chosenLevels = "1 Level";
            } else if(this.getAttribute('id') == '2-levels') {
                userChoices.chosenLevels = "2 Level";
            } else if(this.getAttribute('id') == '3-levels') {
                userChoices.chosenLevels = "3 Level";
            }
            console.log(userChoices.chosenLevels);
            $('#level-container').addClass('d-none');
            $('#material-container').removeClass('d-none');
        })

        $('.material-choice').click(function() {
            if(this.getAttribute('id') == 'acrylic') {
                userChoices.chosenMaterial = 'Acrylic';
            } else if(this.getAttribute('id') == 'plywood') {
                userChoices.chosenMaterial = 'Plywood';
            } else if (this.getAttribute('id') == 'pine') {
                userChoices.chosenMaterial = 'Pine';
            } else if (this.getAttribute('id') == 'oak') {
                userChoices.chosenMaterial = "Oak";
            }
            console.log(userChoices.chosenMaterial);
            findFinalProduct();
            $('#material-container').addClass('d-none');
            $('#view-table').removeClass('d-none');
        })
   })

   function findFinalProduct() {
       let finalProduct = userChoices.chosenLevels + " " + userChoices.chosenMaterial + " " + userChoices.chosenSize + " Slice Of Pie";
       
       let productLink = document.querySelector('#table-link');

       let productNames = document.getElementsByClassName('product-name');
       Array.from(productNames).forEach(function(product) {
           if (product.innerText == finalProduct) {
               let productId = product.getAttribute('id');
               productLink.href = `/products/${productId}`;
               console.log(productLink);
           }
       })
   }































</script>