<!-- Product image builder -->

<script type="text/javascript">
    const userChoices = {
        chosenSize: "",
        chosenLevels: "",
        chosenMaterial: ""
    };

    var transformPosition = 0;
    var productBuilderMiddle = document.querySelector('.productbuilder-middle');
    var productBuilderMiddleLevels = document.querySelector('.productbuilder-middle-levels');
    var productBuilderMiddleLevelsWidth = (productBuilderMiddleLevels.getBoundingClientRect().width + 200);

    document.querySelectorAll('.productbuilder-productoptions').forEach(productOption => {
        productOption.addEventListener('click', event => {
            // Only execute function when product option tile clicked
            if (!event.target.matches('.productbuilder-productoptions-image')) return false;

            var productSelectedImg = String(document.querySelector(
                '.productbuilder-productselected-image').src);
            var productOptionSelected = event.target.parentNode;
            var productOptionSelectedData = String(event.target.getAttribute("data-product"));
            var productOptionSelectedType = productOptionSelected.classList[1];
            var productOptionSelectedTypeAll = document.querySelectorAll(
                `.${productOptionSelectedType}`);

            var productSelectedImgStr = productSelectedImg.split("media/")[1].split("-");
            var productSelectedImgStart = productSelectedImg.split("media/")[0] + "media/";
            var productSelectedLevels = productSelectedImgStr[0];
            var productSelectedMaterial = productSelectedImgStr[1];
            var productSelectedDeg = productSelectedImgStr[2];

            if (productOptionSelectedType == "productbuilder-productoptions-levels") {
                productSelectedLevels = productOptionSelectedData;

                if (productOptionSelectedData == '1') {
                    userChoices.chosenLevels = "1 Level";
                } else if (productOptionSelectedData == '2') {
                    userChoices.chosenLevels = "2 Level";
                } else if (productOptionSelectedData == '3') {
                    userChoices.chosenLevels = "3 Level";
                }
            } else if (productOptionSelectedType == "productbuilder-productoptions-deg") {
                productSelectedDeg = productOptionSelectedData + "_1.jpg";

                if (productOptionSelectedData == '60') {
                    userChoices.chosenSize = "60 Degree";
                } else if (productOptionSelectedData == '120') {
                    userChoices.chosenSize = "120 Degree";
                } else if (productOptionSelectedData == '180') {
                    userChoices.chosenSize = "180 Degree";
                }
            } else if (productOptionSelectedType == "productbuilder-productoptions-material") {
                productSelectedMaterial = productOptionSelectedData;

                if (productOptionSelectedData == 'acrylic') {
                    userChoices.chosenMaterial = 'Acrylic';
                } else if (productOptionSelectedData == 'plywood') {
                    userChoices.chosenMaterial = 'Plywood';
                } else if (productOptionSelectedData == 'pine') {
                    userChoices.chosenMaterial = 'Pine';
                } else if (productOptionSelectedData == 'oak') {
                    userChoices.chosenMaterial = "Oak";
                }
            }

            console.log(userChoices)

            var newImageStr = productSelectedLevels + "-" + productSelectedMaterial + "-" +
                productSelectedDeg

            for (let i = 0; i < productOptionSelectedTypeAll.length; i++) {
                productOptionSelectedTypeAll[i].classList.remove(
                    "productbuilder-productoptions-selected");
            }

            productOptionSelected.classList.add("productbuilder-productoptions-selected");
            productSelectedImg = productSelectedImgStart + newImageStr;
            document.getElementById("productbuilder-productselected-image").src = productSelectedImg;

            if (productOptionSelectedType !== "productbuilder-productoptions-material") {
                transformPosition -= productBuilderMiddleLevelsWidth
                productBuilderMiddle.style.transform = `translateX(${transformPosition}px)`;
            } else {
                document.querySelector('#view-table').classList.remove("d-none");
            }

            findFinalProduct();
        })
    })

    document.querySelectorAll('.icon-left').forEach(iconLeft => {
        iconLeft.addEventListener('click', event => {
            transformPosition += productBuilderMiddleLevelsWidth
            productBuilderMiddle.style.transform = `translateX(${transformPosition}px)`;
        })
    })

    function findFinalProduct() {
        let finalProduct = userChoices.chosenLevels + " " + userChoices.chosenMaterial + " " + userChoices.chosenSize +
            " Slice Of Pie";

        let productLink = document.querySelector('#table-link');

        let productNames = document.getElementsByClassName('product-name');
        Array.from(productNames).forEach(function (product) {
            if (product.innerText == finalProduct) {
                let productId = product.getAttribute('id');
                productLink.href = `/products/${productId}`;
            }
        })
    }
</script>