<script>
    const userChoices = {
        chosenSize: "",
        chosenLevels: "",
        chosenMaterial: "",

        finalProduct: "",
    };

   $(document).ready(function () {
       console.log('Ready!');
   })

   /*
   This function keeps track of which category the user
   has chosen and inputs it into the global variables
   object. Calls removeContent when finished.
   */
   function trackCategory(category) {
       console.log('hello from trackCategory');
   }

   /*
   This function listens for a user's choice/input and removes
   the relevant content from the product builder container and 
   calls addContent when finished.
   */
   function removeContent() {
       console.log('hello from removeContent');
   }

   /*
   This function is called once content is removed and adds in
   the correct section.
   */

   function addContent() {
       console.log('hello from addContent');
   }

   /*
   This function takes all the data from userChoices,
   turns it into a product string, loops over the
   products sent from backend, finds the match,
   returns the correct link.
   */
   function findFinalProduct() {
       console.log('hello from findFinalProduct');
   }































</script>