<script type="text/javascript">

    // Handle enabling and disabling of the quantity buttons
    function handleEnableDisableBskt(itemId) {
        let currentValueBskt = parseInt($(`#id_qty_bskt_${itemId}`).val());
        let minusDisabledBskt = currentValueBskt < 2;
        let plusDisabledBskt = currentValueBskt > 98;
        $(`#decrement-qty_bskt_${itemId}`).prop('disabled', minusDisabledBskt);
        $(`#increment-qty_bskt_${itemId}`).prop('disabled', plusDisabledBskt);
    }

    // Ensure decrease input is initially disabled
    let allQtyInputsBskt = $('.qty_input_bskt');
    for (input of allQtyInputsBskt) {
        let itemId = $(input).data('item_id');
        handleEnableDisableBskt(itemId);
    }

    // Change event for arrow key changes
    $('.qty_input_bskt').change(function() {
        let itemId = $(this).data('item_id');
        handleEnableDisableBskt(itemId);
    })
    
    // Increment the value of the quantity input field
    $('.increment-qty_bskt').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group_bskt').find('.qty_input_bskt')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        let itemId = $(this).data('item_id');
        handleEnableDisableBskt(itemId);
    })

    // Decrement the value of the quantity input field   
    $('.decrement-qty_bskt').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group_bskt').find('.qty_input_bskt')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        let itemId = $(this).data('item_id');
        handleEnableDisableBskt(itemId);
    });

</script>