<script>

    // Handle enabling and disabling of the quantity buttons
    function handleEnableDisable(itemId) {
        let currentValue = parseInt($(`#id_qty_${itemId}`).val());
        let minusDisabled = currentValue < 2;
        let plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure decrease input is initially disabled
    let allQtyInputs = $('.qty_input');
    for (input of allQtyInputs) {
        let itemId = $(input).data('item_id');
        handleEnableDisable(itemId);
    }

    // Change event for arrow key changes
    $('.qty_input').change(function() {
        let itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    })
    
    // Increment the value of the quantity input field
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        let itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    })

    // Decrement the value of the quantity input field   
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        let itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

</script>

<!-- Product animations -->
<script>
    function productCardRight(card) {
        var cardHover = card.querySelector('.product-card-image-container');
        cardHover.style.transform = "translate(-100%,0)";
    }

    function productCardLeft(card) {
        var cardHover = card.querySelector('.product-card-image-container');
        cardHover.style.transform = "translate(0,0)";
    }
</script>