{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="checkout page-container container">
    <section class="text-center">
        <h1>Your profile</h1>
    </section>
    <section class="text-center">
        <h2>Previous orders</h2>
        {% if orders %}
        <div id="accordion">
            {% for order in orders %}

                <div class="card text-left">
                  <div class="card-header" id="heading_{{ forloop.counter }}" data-toggle="collapse" data-target="#collapse_{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse_{{ forloop.counter }}">
                    <h3 class="mb-2"><strong>{{ order.order_number }}</strong></h3>
                    <h3 class="mb-2">Date ordered: <strong>{{ order.date }}</strong></h3>
                    <h3 class="mb-0">TOTAL: <strong>£{{ order.grand_total }}</strong></h3>
                    
                  </div>
              
                  <div id="collapse_{{ forloop.counter }}" class="collapse" aria-labelledby="heading_{{ forloop.counter }}" data-parent="#accordion">
                    <div class="card-body container-fluid">
                      {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-4">
                                <img class="profile-img" src="{{ MEDIA_URL }}{{ item.product.image_1 }}" alt="{{ item.product.name }}">
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12"><h4>{{ item.product.name }}</h4></div>
                                    <div class="col-12"><h4>Quantity: {{ item.quantity }}</h4></div>
                                    <div class="col-12"><h4>Unit Price: £{{ item.product.price }}</h4></div>
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                        <h3 class="text-center">Delivered to:</h3>
                        
                        <div class="row text-center">
                            <div class="col-12">{{ order.street_address1 }}</div>
                            {% if order.street_address2 %}
                            <div class="col-12">{{ order.street_address2 }}</div>
                            {% endif %}
                            <div class="col-12">{{ order.town_or_city }}</div>
                            {% if order.county %}
                            <div class="col-12">{{ order.county }}</div>
                            {% endif %}
                            {% if order.postcode %}
                            <div class="col-12">{{ order.postcode }}</div>
                            {% endif %}
                            <div class="col-12">{{ order.country }}</div>
                            <div class="col-12">{{ order.phone_number }}</div>
                        </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No orders</p>
        {% endif %}
    </section>
    <section>
        <h2 class="text-center">Delivery Address</h2>
        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn">Update information</button>
        </form>
    </section>
    
</div>
{% endblock %}
