{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="checkout page-container container">
    <section class="text-center">
        <h1>Your profile</h1>
    </section>
    <div class="row">
    <div class="col-12 col-lg-6">
        <section class="text-center">
            <h2>Previous orders</h2>
            {% if orders %}
            <div id="accordion">
                {% for order in orders %}
    
                    <div class="card text-left mb-1 mb-md-2">
                      <div class="card-header" id="heading_{{ forloop.counter }}" data-toggle="collapse" data-target="#collapse_{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse_{{ forloop.counter }}">
                        <h3 class="mb-2"><strong>{{ order.order_number }}</strong></h3>
                        <h3 class="mb-2">Date ordered: <strong>{{ order.date }}</strong></h3>
                        <h3 class="mb-0">TOTAL: <strong>£{{ order.grand_total }}</strong></h3>
                        
                      </div>
                  
                      <div id="collapse_{{ forloop.counter }}" class="collapse" aria-labelledby="heading_{{ forloop.counter }}" data-parent="#accordion">
                        <div class="card-body container-fluid">
                          {% for item in order.lineitems.all %}
                            <div class="row mb-2">
                                <div class="col-4 text-center">
                                    <img class="profile-img" src="{{ MEDIA_URL }}{{ item.product.image_1 }}" alt="{{ item.product.name }}">
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12"><h4>{{ item.product.name }}</h4></div>
                                        <div class="col-12"><h4>Quantity: {{ item.quantity }}</h4></div>
                                        <div class="col-12"><h4>Unit Price: £{{ item.product.price }}</h4></div>
                                    </div>
                                </div>
                            </div>
                          {% endfor %}
                            <h3 class="text-center order-heading mt-3">Delivered to: <i class="fas fa-map-pin"></i></h3>
                            
                            <div class="row text-center">
                                <div class="col-12"><p class="mb-0 profile-order-address">{{ order.street_address1 }}</p></div>
                                {% if order.street_address2 %}
                                <div class="col-12"><p class="mb-0 profile-order-address">{{ order.street_address2 }}</p></div>
                                {% endif %}
                                <div class="col-12"><p class="mb-0 profile-order-address">{{ order.town_or_city }}</p></div>
                                {% if order.county %}
                                <div class="col-12"><p class="mb-0 profile-order-address">{{ order.county }}</p></div>
                                {% endif %}
                                {% if order.postcode %}
                                <div class="col-12"><p class="mb-0 profile-order-address">{{ order.postcode }}</p></div>
                                {% endif %}
                                <div class="col-12"><p class="mb-0 profile-order-address">{{ order.country }}</p></div>
                                <div class="col-12"><p class="mb-0 profile-order-address">{{ order.phone_number }}</p></div>
                            </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
           <em><p>You haven't made any orders yet</p></em>
           <a href="{% url 'product_builder' %}" class="btn checkout-btn bskt-btn profile-btn">Build Table</a>
            {% endif %}
        </section>
    </div>
    <div class="col-12 col-lg-6">
        <section class="mt-3 mt-lg-0 mb-3">
            <h2 class="text-center">Delivery Address</h2>
            <form class="text-center" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn bskt-btn checkout-btn text-center profile-btn">Update information</button>
            </form>
        </section>
    </div>
    </div>    
</div>
{% endblock %}
