@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");


/* Navigation bar and footer */

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
}