<div class="basket-sidebar sidebar flexbox-container container">
    <div class="row text-center">
        <div class="col-12 sidebar-header">
            <button class="close-sidebar"><i class="fas fa-times"><span class="sr-only">close sidebar</span></i></button>
            <div>Basket <i class="fas fa-shopping-basket"><span class="sr-only">shopping basket</span></i></div>
        </div>
        {% if basket_items %}
        <div class="col-12 border">
            <div>Items: {{ basket_items|length }}</div>
        </div>
        {% for item in basket_items %}
        <div class="col-12">
            <img class="product-image product-image-detail" src="{{ MEDIA_URL }}{{ item.product.image_1 }}"
            alt="{{ product.name }}">
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12 empty-sidebar">
            <p>Your Basket is empty</p>
        </div>
        <div class="col-12">
            <a href="#" class="btn btn-primary btn-md cta-btn">Build Table</a>
        </div>
        {% endif %}
    </div>
    <hr>
</div>