<div class="basket-sidebar sidebar flexbox-container container">
    <div class="row text-center">
        <div class="col-12 sidebar-header">
            <button class="close-sidebar"><i class="fas fa-times"><span class="sr-only">close sidebar</span></i></button>
            <div>Basket <i class="fas fa-shopping-basket"><span class="sr-only">shopping basket</span></i></div>
        </div>
        {% if basket_items %}
        <div class="col-12">
            <div>Items: {{ product_count }}</div>
        </div>
        <div class="col-12">
            <div>Total: £{{ total }}</div>
        </div>
        {% for item in basket_items %}
        <div class="col-12">
            <img class="product-image product-image-detail" src="{{ MEDIA_URL }}{{ item.product.image_1 }}"
            alt="{{ product.name }}">
        </div>
        <div class="col-12">
            {{ item.product.name }} x {{ item.quantity }}
        </div>
        <div class="col-12">
            <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}" id="form_{{ item.item_id }}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group_bskt">
                       <div class="input-group-prepend">
                          <button class="decrement-qty_bskt btn btn-black btn-sm rounded-0" data-item_id="{{ item.item_id }}"
                             id="decrement-qty_bskt_{{ item.item_id }}">
                             <span>
                                <i class="fas fa-minus fa-sm"></i>
                             </span>
                          </button>
                       </div>
                       <input class="form-control form-control-sm qty_input_bskt" type="number" name="quantity" value="{{ item.quantity }}" min="1"
                          max="99" data-item_id="{{ item.item_id }}" id="id_qty_bskt_{{ item.item_id }}">
                       <div class="input-group-append">
                          <button class="increment-qty_bskt btn btn-black btn-sm rounded-0" data-item_id="{{ item.item_id }}"
                             id="increment-qty_bskt_{{ item.item_id }}">
                             <span>
                                <i class="fas fa-plus fa-sm"></i>
                             </span>
                          </button>
                       </div>
                    </div>
                 </div>
                 <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            <a class="update-link text-info"><small>Update</small></a>
            <a class="remove-item text-danger float-right" id="remove_item{{ item.item_id }}"><small>Remove</small></a>
        </div>
        
        {% endfor %}
        <a href="{% url 'checkout' %}">
            Secure Checkout
        </a>
        {% else %}
        <div class="col-12 empty-sidebar">
            <p>Your Basket is empty</p>
        </div>
        <div class="col-12">
            <a href="#" class="btn btn-primary btn-md cta-btn">Build Table</a>
        </div>
        {% endif %}
    </div>
    <hr>
</div>
{% block postloadjs %}
{% include 'products/includes/quantity_input_script_bskt.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        console.log(form);
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_item')[1];
        let url = `/remove_item/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken
        };
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

</script>
{% endblock %}