<div class="filter-options flexbox-container">
    <form action="" class="container border text-center">
        <div class="row">
            <div class="col-12">
                <p>Size</p>
            </div>
            <div class="col-6">
                <label for="60deg">60&deg;</label>
            </div>
            <div class="col-6">
                <input type="checkbox" name="60deg" id="60deg">
            </div>
            <div class="col-6">
                <label for="120deg">120&deg;</label>
            </div>
            <div class="col-6">
                <input type="checkbox" name="120deg" id="120deg">
            </div>
            <div class="col-6">
                <label for="180deg">180&deg;</label>
            </div>
            <div class="col-6">
                <input type="checkbox" name="180deg" id="180deg">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Levels</p>
            </div>
            <div class="col-6">
                <label for="1level">1</label>
            </div>
            <div class="col-6">
                <input type="checkbox" name="1level" id="1level">
            </div>
            <div class="col-6">
                <label for="2levels">2</label>
            </div>
            <div class="col-6">
                <input type="checkbox" name="2levels" id="2levels">
            </div>
            <div class="col-6">
                <label for="3levels">3</label>
            </div>
            <div class="col-6">
                <input type="checkbox" name="3levels" id="3levels">  
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Material</p>
            </div>
            <div class="col-6">
                <label for="acrylic">Acrylic</label>
            </div>
            <div class="col-6">
                <input type="checkbox" name="acrylic" id="acrylic">
            </div>
            <div class="col-6">
                <label for="plywood">Plywood</label>
            </div>
            <div class="col-6">
                <input type="checkbox" name="plywood" id="plywood">
            </div>
            <div class="col-6">
                <label for="oak">Oak</label>
            </div>
            <div class="col-6">
                <input type="checkbox" name="oak" id="oak">
            </div>
            <div class="col-6">
                <label for="pine">Pine</label>
            </div>
            <div class="col-6">
                <input type="checkbox" name="pine" id="pine">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="reset" class="close-filter">Cancel</button>
            </div>
            <div class="col-6">
                <button type="submit">Apply</button>
            </div>
        </div>
    </form>
   
</div>