    <a href="#" class="brand-link">
        Slice of Pie
    </a>
    <ul>
        <li class="footer-link">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        </li>
        <li class="footer-link">
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </li>
        <li class="footer-link">
            <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
        </li>
        <li class="footer-link">
            <a href="https://youtube.com/" target="_blank"><i class="fab fa-youtube-square"></i></a>
        </li>
    </ul>