<div class="d-md-none">
    <ul class="mobile-icon-list">
        <li>
            <button class="mobile-icon-btn" id="navBarDropdown" class="navbar-link" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></button>
            <ul class="dropdown-menu" aria-labelledby="navBarDropdown">
                <li><a href="#" class="dropdown-item">Sign in</a></li>
                <li><a href="#" class="dropdown-item">Create account</a></li>
            </ul>
        </li>
        <li>
            <button class="mobile-icon-btn wishlist-btn"><i class="fas fa-heart"></i></button>
        </li>
        <li>
            <button class="mobile-icon-btn basket-btn"><i class="fas fa-shopping-basket"></i></button>
        </li>
    </ul>
</div>