<!-- Source - responsive navigation bar sourced and tweaked to spec from https://www.aleksandrhovhannisyan.com/blog/responsive-navbar-without-bootstrap/ -->
<nav class="navbar-container flex-container">
    <a href="{% url 'home' %}" class="brand-link">
        Slice of Pie
    </a>
    <button type="button" class="navbar-toggle d-md-none" aria-label="Open navigation menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% include 'includes/mobile-icons.html' %}
    <div class="navbar-menu">
        <ul class="navbar-links">
            <li class="navbar-item">
                <a href="#" class="navbar-link">Build Table</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link">All Tables</a>
            </li>
        </ul>
    </div>
    <div class="navbar-menu desktop-icons d-none d-md-block">
        <ul class="navbar-links">
            <li>
                <button id="navBarDropdown" class="navbar-link" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></button>
                <ul class="dropdown-menu" aria-labelledby="navBarDropdown">
                    {% if request.user.is_authenticated %}
                        <li><a href="#" class="dropdown-item">Profile</a></li>
                        <li><a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a></li>
                        {% if request.user.is_superuser %}
                            <li><a href="#" class="dropdown-item">Product Manager</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{% url 'account_login' %}" class="dropdown-item">Sign in</a></li>
                        <li><a href="{% url 'account_signup' %}" class="dropdown-item">Create account</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <button class="navbar-link wishlist-btn"><i class="fas fa-heart"></i></button>
            </li>
            <li>
                <button class="navbar-link basket-btn"><i class="fas fa-shopping-basket"></i></button>
            </li>
        </ul>
    </div>
</nav>