<nav class="fixed-top container-fluid">
    <div class="navbar">
        <a href="#">Slice of Pie</a>
        <div>
            <a href="#">Build Table</a>
            <a href="#">All Tables</a>
        </div>
        <div class="justify-content-end">
            <button><span><i class="fas fa-user"></i></span></button>
            <button><span><i class="fas fa-heart"></i></span></button>
            <button><span><i class="fas fa-shopping-basket"></i></span></button>
            <button class="d-sm-none"><span><i class="fas fa-bars"></i></span></button>
        </div>
    </div>
</nav>