{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_title %}Success!{% endblock %}

{% block content %}
<div class="page-container text-center fill-page">
    <div class="login-content-outer">
        <div class="login-form-content">
            <h2>{% trans "Success!" %}</h2>
            <p>{% trans 'Your password is now changed.' %}</p>
            <a href="{% url 'product_builder' %}" class="btn checkout-btn bskt-btn home-cta" role="button">Build Table</a>
        </div>
    </div>
</div>
    
{% endblock %}
