{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="page-container text-center">
  <div class="login-form-content">
    <form class="signup user-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
      <h3>Create an account</h1>
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="login-btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    </form>
  </div>
</div>

<script>
  let errorListItems = document.querySelectorAll('.errorlist');
  for(errorListItem of errorListItems) {
    if(errorListItem.innerHTML === "<li>You must type the same email each time.</li>") {
      errorListItem.innerText = "Emails don't match.";
    } else if (errorListItem.innerHTML === "<li>A user with that username already exists.</li>") {
      errorListItem.innerText = "Username already exists";
    } else if (errorListItem.innerHTML === "<li>You must type the same password each time.</li>") {
      errorListItem.innerText = "Passwords don't match."
    }
  }
</script>

{% endblock %}
