{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-container">
        <div class="login-content-outer">
            <h2>Product Management</h2>
            <h3>Edit product</h3>
            <div>
                <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                    <div>
                        <a href="{% url 'products' %}" class="btn btn-md">Cancel</a>
                        <button class="btn btn-md" type="submit">Update Product</button>
                    </div>
                </form>
            </div>  
        </div>
    </div>
{% endblock %}
