{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
        <div class="product-builder page-container container">
            <h1>Build your perfect table</h1>
            <div id="size-container" class="row text-center builder-container">
                <div class="col-12 text-left">
                    <h2 class="category-heading">Choose your size</h2>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row builder-row align-items-center">
                        <div class="col-5 pr-0">
                            <button id="60-degrees" class="size-choice builder-btn">
                                <img class="product-image builder-image" src="{{ MEDIA_URL }}60deg.jpg" alt="">    
                            </button>
                        </div>
                        <div class="col-7 text-left">
                            <p class="builder-info">60 Degrees (Small)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row builder-row align-items-center">
                        <div class="col-5 pr-0">
                            <button id="120-degrees" class="size-choice builder-btn">
                                <img src="{{ MEDIA_URL }}120deg.jpg" alt="" class="product-image builder-image">
                            </button>
                        </div>
                        <div class="col-7 text-left">
                            <p class="builder-info">120 Degrees (Medium)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row builder-row align-items-center">
                        <div class="col-5 pr-0">
                            <button id="180-degrees" class="size-choice builder-btn">
                                <img src="{{ MEDIA_URL }}180deg.jpg" alt="" class="product-image builder-image">
                            </button>                
                        </div>
                        <div class="col-7 text-left">
                            <p class="builder-info">180 Degrees (Large)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <a href="{% url 'products' %}" id="browse-all" class="bskt-btn checkout-btn">
                        Browse All
                    </a>
                </div>
            </div>
            <div id="level-container" class="row text-center builder-container d-none">
                <div class="col-12 text-left">
                    <h2 class="category-heading">Choose number of levels</h2>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row builder-row align-items-center">
                        <div class="col-5 pr-0">
                            <button id="1-level" class="levels-choice builder-btn">
                                <img class="product-image builder-image" src="{{ MEDIA_URL }}1.jpg" alt="">
                            </button>
                        </div>
                        <div class="col-7 text-left">
                            <p class="builder-info">1 shelf</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row builder-row align-items-center">
                        <div class="col-5 pr-0">
                            <button id="2-levels" class="levels-choice builder-btn">
                                <img src="{{ MEDIA_URL }}2.jpg" alt="" class="product-image builder-image">
                            </button>
                        </div>
                        <div class="col-7 text-left">
                            <p class="builder-info">2 shelves</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row builder-row align-items-center">
                        <div class="col-5 pr-0">
                            <button id="3-levels" class="levels-choice builder-btn">
                                <img src="{{ MEDIA_URL }}3.jpg" alt="" class="product-image builder-image">
                            </button>
                        </div>
                        <div class="col-7 text-left">
                            <p class="builder-info">3 shelves</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button id="back-to-size" class="btn bskt-btn checkout-btn prev-btn">Previous</button>
                </div>
            </div>
            <div id="material-container" class="row text-center builder-container d-none">
                <div class="col-12 text-left">
                    <h2 class="category-heading">Choose your material</h2>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row builder-row align-items-center">
                        <div class="col-5 pr-0">
                            <button id="acrylic" class="material-choice">
                                <img class="product-image builder-image" src="{{ MEDIA_URL }}acrylic.jpg" alt="">
                            </button>
                        </div>
                        <div class="col-7 text-left">
                            <p class="builder-info">Acrylic</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row builder-row align-items-center">
                        <div class="col-5 pr-0">
                            <button id="plywood" class="material-choice">
                                <img src="{{ MEDIA_URL }}plywood.jpg" alt="" class="product-image builder-image">
                            </button>                        
                        </div>
                        <div class="col-7 text-left">
                            <p class="builder-info">Plywood</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row builder-row align-items-center">
                        <div class="col-5 pr-0">
                            <button id="pine" class="material-choice">
                                <img src="{{ MEDIA_URL }}pine.jpg" alt="" class="product-image builder-image">
                            </button>
                        </div>
                        <div class="col-7 text-left">
                            <p class="builder-info">Pine</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row builder-row align-items-center">
                        <div class="col-5 pr-0">
                            <button id="oak" class="material-choice">
                                <img src="{{ MEDIA_URL }}oak.jpg" alt="" class="product-image builder-image">
                            </button>                        
                        </div>
                        <div class="col-7 text-left">
                            <p class="builder-info">Oak</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button id="back-to-level" class="btn bskt-btn checkout-btn prev-btn">Previous</button>
                </div>
            </div>
            <div id="view-table" class="row text-center builder-container d-none">
                <div class="col-12">
                    <a id="table-link" href="" class="bskt-btn checkout-btn">View your table</a>
                </div>
            </div>
        </div>
        <div id="all-products" class="d-none">
            {% for product in products %}
                <p id="{{ product.id }}" class="product-name {{ product.id }}">{{ product.name }}</p>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {% include 'products/includes/product_builder_js.html' %}
{% endblock %}