{% extends 'base.html' %}

{% load static %}

{% block extra_title %}All Tables{% endblock %}

{% block content %}
  {% include 'products/includes/filter.html' %}
  <div class="products page-container container">
    <button id="back-to-top">
       <i class="fas fa-arrow-up">
       <span class="sr-only">Back to top</span>
       </i>
    </button>
    <div class="row">
      <div class="col-lg-3 d-none d-lg-block"></div>
      <div class="col-12 col-lg-6">
        <h1 class="text-center">All Tables</h1>
      </div>
      <!-- This will be populated by the sort button on larger screen sizes -->
      <div class="col-3 d-none d-lg-block" id="sort-destination">
      </div>
      <div class="col-12">
        <!-- Filter and sort buttons -->
        <div class="row">
          <div class="col-md-3 d-none d-md-block"></div>
          <div class="col-6 col-md-3 d-lg-none text-center p-0">
            <button id="filter" type="button" class="filter-sort btn btn-primary w-100">Filter</button>
          </div>
          <div class="col-6 col-md-3 text-center p-0" id="sort-start">
            <select id="sort-select" class="filter-sort w-100 btn btn-primary">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
            <option value="levels_asc" {% if current_sorting == 'levels_asc' %}selected{% endif %}>Levels (1-3)</option>
            <option value="levels_desc" {% if current_sorting == 'levels_desc' %}selected{% endif %}>Levels (3-1)</option>
            </select>
          </div>
          <div class="col-md-3 d-none d-md-block"></div>
        </div>
      </div>
    </div>
    <!-- Products section and desktop filter -->
    <div class="row">
      <div class="col-2 d-none d-lg-block" id="filterDestination"></div>
      <div class="col-12 col-lg-10">
        <div class="row">
          {% for product in products %}
            <div class="product-card-container col-12 col-md-4">
              <div class="product-card" onmouseenter="productCardRight(this)" onmouseleave="productCardLeft(this)">
                <div class="product-card-image-container{% if product.unavailable %} unavailable{% endif %}">
                  <img class="product-image" src="{{ MEDIA_URL }}{{ product.image_1 }}" alt="{{ product.name }}">
                  <img class="product-image" src="{{ MEDIA_URL }}{{ product.image_2 }}" alt="{{ product.name }}">
                </div>
                <div class="product-card-text-container">
                  <h3 class="product-card-text product-card-title">{{ product.name }}</h3>
                </div>
                <div class="product-card-text-container">
                  <h3 class="product-card-text product-card-price">{% if product.unavailable %}Unavailable{% else %}£{{ product.price }}{% endif %}</h3>
                </div>
                <div class="product-card-cta-container">
                  <a href="{% url 'product_detail' product.id %}" class="btn product-card-view">
                  <button>View</button>
                  </a>
                  <form method="POST" action="{% url 'add_to_wishlist' product.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn product-card-fav{% if product in wishlist_items %} favourited{% endif %}">
                      <i class="far fa-heart" aria-hidden="true"></i>
                      <span class="sr-only">Add to wishlist</span>
                    </button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  {% include 'products/includes/all_products_js.html' %}
{% endblock %}